body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

.albums {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.album {
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s;
    position: relative;
}

.album:hover {
    transform: scale(1.05);
}

.album h2 {
    margin-top: 0;
}

.album-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.album-content img {
    width: 100%;
    max-width: 150px;
    height: auto;
    object-fit: cover;
    border: 1px solid #ddd;
    padding: 5px;
    cursor: pointer;
}

.album-content img:hover {
    transform: scale(1.05);
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
}

.lightbox-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close, .prev, .next {
    position: absolute;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
}

.close {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.prev, .next {
    top: 50%;
    transform: translateY(-50%);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.close:hover,
.close:focus,
.prev:hover,
.prev:focus,
.next:hover,
.next:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
